.container{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: repeat(6,100px);
   gap: 20px;

}
.box{
   background-color: greenyellow;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 80px;
   border-radius: 20px;
   border: 5px solid goldenrod;
}
#box-1{
   grid-column: span 4;
}
#box-2{
   grid-row: span 4;
}
#box-3{
   grid-column: span 2;
   grid-row: span 4;
}
#box-4, #box-5{
   grid-row: span 2;
}
#box-6{
   grid-column: span 4;
}

